@use "../base/helpers" as *;
.todo {
	margin-top: rem(40);
	// position: relative;

	&__title {
		margin-bottom: rem(18);
		text-align: center;
	}

	&__form {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
