@use "../../styles/base/helpers" as *;
@use "../../styles/base/variables" as *;

.theme-toggle {
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        @include square(rem(44));
        background: var(--color-purple);
        border: none;
        border-radius: rem(5);
        transition: all 0.2s ease;
        &:hover {
            background: var(--color-background);
        }
    }
}
