@use "../helpers" as *;

:root {
	--border-light: #{rem(1)} solid var(--color-purple);
	--border-dark: #{rem(1)} solid var(--color-light);

	--border-hover: #{rem(2)} solid var(--color-purple);
	--border-focus: 2px solid rgba(108, 99, 255, 0.4);
}