@use "helpers" as *;

:root {
	--color-light: #f7f7f7;
	--color-dark: #252525;

	--color-purple: #6c63ff;
	--color-light-placeholder: #c3c1e5;
	--color-dark-placeholder: #666;
	--color-light-text: #252525;
	--color-dark-text: #f7f7f7;

	--color-done-task: rgba(37, 37, 37, 0.5);

	--color-background: #534cc2;
	// переменная ширины border
	--border-light: #{rem(1)} solid var(--color-purple);
	--border-dark: #{rem(1)} solid var(--color-light);

	--border-hover: #{rem(2)} solid var(--color-purple);

	--shadow: 0 0 0 #{rem(3)} #191919;
	--shadow-light: 0 0 #{rem(4)} 0 var(--color-purple);
	--shadow-hover: 0 0 #{rem(4)} 0 var(--color-purple);

	--font-family-base: "Kanit", sans-serif;
	--font-family-accent: "Inters", sans-serif;

	--container-width: #{rem(750)};
	// внутренние границы(можно посмотреть по mobile макету)
	--container-padding-x: #{rem(16)};

	@include laptop {
		--container-width: #{rem(1280)};
	}
}
